{% extends "::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="row">
    <h2 class="page-header">{{ bateau.nom }} - Sorties r&eacute;alis&eacute;es</h2>
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Bateau</th>
              <th>Heure de départ</th>
              <th>Heure de retour</th>
              <th>Km effectués</th>
              <th>Observations</th>
              {% if is_granted('ROLE_ADMIN') %}
              <th></th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
          {% for sortie in sorties %}
            <tr data-toggle="collapse" data-target="#sortie{{ sortie.id }}" class="accordion-toggle">
              <td>{{ sortie.date | date('d/m/Y') }}</td>
              <td>{{ sortie.bateau.typenom }}</td>
              <td>{{ sortie.hdepart | date('H:i') }}</td>
              <td>{{ sortie.hretour | date('H:i') }}</td>
              <td>{{ sortie.kmparcourus }}</td>
              <td>{{ sortie.observations }}</td>
              {% if is_granted('ROLE_ADMIN') %}
              <td>
                <a href="{{ path('aviron_sortie_modifier', {'id': sortie.id}) }}" class="btn btn-primary"
                  title="Modifier la sortie">
                  <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a href="{{ path('aviron_sortie_supprimer', {'id': sortie.id}) }}" class="btn btn-danger"
                  title="Supprimer la sortie">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>
              {% endif %}
            </tr>
            <tr id="sortie{{ sortie.id }}" class="collapse">
              <td colspan="7">
                &Eacute;quipage : 
                {% for athlete in sortie.athletes %}
                {{ athlete.prenom }} {{ athlete.nom }}{% if not loop.last %},{% endif %} 
                {% endfor %}
              </td>
            </tr>
            {% else %}
            <tr>
            <td colspan="7">Pas (encore !) de sortie terminée</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}