{% extends "::layout.html.twig" %}

{% block title %}
    Sorties - Nombre de kilomètres parcourus par membre - {{ parent() }}
{% endblock %}

{% block javascripts %} 
{{ parent() }}
<script type="text/javascript">
    function filtrer()
    {
        var route = '{{ path('aviron_sortie_statistiques_membres')|escape('js') }}';
        var annee = document.getElementById("annee");
        var valAnnee = annee.options[annee.selectedIndex].value;
        if (valAnnee > 0)
        {
            route += '/' + valAnnee;
            var mois = document.getElementById("mois");
            var valMois = mois.options[mois.selectedIndex].value;
            if (valMois > 0) {
                route += '/' + valMois;
            }
        }
        window.location.href = route;
    }
</script>

{% endblock %}

{% block body %}
    <h2>Sorties - Nombre de kilomètres parcourus par membre</h2>

    <form name="filtre" class="form-inline well">
        <div class="form-group">
            <select id="mois" name="mois" class="form-control">
                <option value="0">Mois</option>
                <option value="1"{% if mois == 1 %} selected{% endif %}>janvier</option>
                <option value="2"{% if mois == 2 %} selected{% endif %}>février</option>
                <option value="3"{% if mois == 3 %} selected{% endif %}>mars</option>
                <option value="4"{% if mois == 4 %} selected{% endif %}>avril</option>
                <option value="5"{% if mois == 5 %} selected{% endif %}>mai</option>
                <option value="6"{% if mois == 6 %} selected{% endif %}>juin</option>
                <option value="7"{% if mois == 7 %} selected{% endif %}>juillet</option>
                <option value="8"{% if mois == 8 %} selected{% endif %}>août</option>
                <option value="9"{% if mois == 9 %} selected{% endif %}>septembre</option>
                <option value="10"{% if mois == 10 %} selected{% endif %}>octobre</option>
                <option value="11"{% if mois == 11 %} selected{% endif %}>novembre</option>
                <option value="12"{% if mois == 12 %} selected{% endif %}>décembre</option>
            </select>
        </div>
        <div class="form-group">
            <select id="annee" name="annee" class="form-control">
                <option value="0">Année</option>
                <option value="2018"{% if annee == 2018 %} selected{% endif %}>2018</option>
                <option value="2019"{% if annee == 2019 %} selected{% endif %}>2019</option>
            </select>
        </div>
        <div class="form-group">
            <a href="#" onclick="filtrer();return false;" class="btn">
                <i class="glyphicon glyphicon-search"></i>
            </a>
        </div>
        <div class="form-group pull-right">
            <a href="{{ path('aviron_sortie_excel', {'mois': mois, 'annee': annee}) }}" class="btn">
                <i class="glyphicon glyphicon-download-alt"></i> Exporter au format Excel (XLSX)
            </a>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 30px"></th>
                <th style="width: 20%">Membre</th>
                <th style="width: 65%">Kilomètres parcourus</th>
                <th style="width: 15%"></th>
              </tr>
            </thead>
            <tbody>
            {% for stat in modele.statistiques | sortbyfield('kmParcourus') | reverse %}
            <tr>
                <td>
                    <a href="{{ path('aviron_sortie_membre', {'idmembre': stat.id}) }}" class="btn btn-success btn-sm"
                    title="Détail des sorties de {{ stat.label }}">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </td>
                <td>{{ stat.label }}</td>
                <td>
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar" style="width: {{ stat.kmparcourus * 100 / modele.maxkmparcourus }}%">{{ stat.kmparcourus }} km</div>
                    </div>
                </td>
                <td>en {{ stat.nombredesorties }} sortie{% if stat.nombredesorties > 1 %}s{% endif %}</td>
            </tr>             
            {% else %}
            <tr>
                <td colspan="4">Aucune données disponibles pour cette période</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}