{% extends "::layout.html.twig" %}
{% use "AvironSortieBundle:Statistiques:filtre.html.twig" %}

{% block title %}
    Sorties - Nombre de kilomètres parcourus par bateau - {{ parent() }}
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    {{ block('filtre_javascripts') }}
{% endblock %}

{% block body %}
    <h2>Sorties - Nombre de kilomètres parcourus par bateau</h2>

    {{ block('filtre') }}
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 20%">Bateau</th>
                <th style="width: 65%">Kilomètres parcourus</th>
                <th style="width: 15%"></th>
              </tr>
            </thead>
            <tbody>
            {% for stat in modele.statistiques | sortbyfield('kmParcourus') | reverse %}
            <tr>
                <td>{{ stat.label }}</td>
                <td>
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar" style="width: {{ stat.kmparcourus * 100 / modele.maxkmparcourus }}%">{{ stat.kmparcourus }} km</div>
                    </div>
                </td>
                <td>en {{ stat.nombredesorties }} sortie{% if stat.nombredesorties > 1 %}s{% endif %}</td>
            </tr>             
            {% else %}
            <tr>
                <td colspan="3">Aucune donnée disponible pour cette période</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}