{% extends "layout.html.twig" %}

{% block title %}
	Participants -
	{{ parent() }}
{% endblock %}

{% block body %}

	<h2 class="page-header">Participants</h2>

	{% if is_granted('ROLE_ADMIN') %}
		<p>
			<a href="{{ path('aviron_sortie_reservation_admin_reserver',  {'identrainement': identrainement}) }}" class="btn btn-default">
				<i class="glyphicon glyphicon-plus"></i>
				Réserver pour un membre
			</a>
		</p>
	{% endif %}

	{% if participants %}
		<ol>
			{% for participant in participants %}
				<li>{{ participant.idut.prenomnom }}
					<a href="{{ path('aviron_sortie_reservation_admin_desinscrire', {'identrainement': identrainement,'idmembre': participant.idut.id}) }}" class="btn btn-danger" title="Désinscrire le membre">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</li>
			{% endfor %}
		</ol>
	{% else %}
		<p>Pas (encore !) de participants.</p>
	{% endif %}


	<p>
		<a href="{{ path('aviron_sortie_reservation_entrainements') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour aux entraînements
		</a>
	</p>
{% endblock %}
