{% extends "layout.html.twig" %}
{% use "statistiques/filtre.html.twig" %}

{% block title %}
    Sorties - Nombre de kilomètres parcourus par membre - {{ parent() }}
{% endblock %}

{% block javascripts %} 
    {{ parent() }}
    {{ block('filtre_javascripts') }}
{% endblock %}

{% block body %}
    <h2>Sorties - Nombre de kilomètres parcourus par membre</h2>

    {{ block('filtre') }}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
              <tr>
                <th style="width: 30px"></th>
                <th style="width: 20%">Membre</th>
                <th colspan="2">Kilomètres parcourus
                    <a href="{{ path('aviron_sortie_excel', {'mois': mois, 'annee': annee}) }}" class="pull-right">
                        <i class="glyphicon glyphicon-download-alt"></i> Exporter au format Excel (XLSX)
                    </a>
                </th>
              </tr>
            </thead>
            <tbody>
            {% for stat in modele.statistiques | sortbyfield('kmParcourus') | reverse %}
            <tr>
                <td>
                    <a href="{{ path('aviron_sortie_membre', {'idmembre': stat.id}) }}" class="btn btn-success btn-sm"
                    title="Détail des sorties de {{ stat.label }}">
                        <i class="glyphicon glyphicon-search"></i>
                    </a>
                </td>
                <td>{{ stat.label }}</td>
                <td style="width: 65%">
                    <div class="progress" style="margin-bottom: 0px">
                        <div class="progress-bar" style="width: {{ stat.kmparcourus * 100 / modele.maxkmparcourus }}%">{{ stat.kmparcourus }} km</div>
                    </div>
                </td>
                <td style="width: 15%">en {{ stat.nombredesorties }} sortie{% if stat.nombredesorties > 1 %}s{% endif %}</td>
            </tr>             
            {% else %}
            <tr>
                <td colspan="4">Aucune données disponibles pour cette période</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}