{% extends "::layout.html.twig" %}

{% block title %}
  Liste des membres - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="page-header">Liste des membres du Club</h2>
  <p>
    <a href="{{ path('aviron_users_ajouter') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
      Ajouter un membre
    </a>
  </p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pr&eacute;nom</th>
          <th>Nom</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for user in listeUsers %}
        <tr>
          <td>{{ user.prenom }}</td>
          <td>{{ user.nom }}</td>
          <td>
            <a href="{{ path('aviron_users_modifier', {'id': user.id}) }}" class="btn btn-primary"
              title="Modifier le membre">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="{{ path('aviron_users_supprimer', {'id': user.id}) }}" class="btn btn-danger" 
              title="Supprimer le membre">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
        {% else %}
        <tr>
        <td colspan="3">Pas (encore !) de membre</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <ul class="pagination">
    {% for p in range(1, nbPages) %}
      <li{% if p == page %} class="active"{% endif %}>
        <a href="{{ path('aviron_users_liste', {'page': p}) }}">{{ p }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}