{% extends "::layout.html.twig" %}

{% block title %}
  Liste des types de Bateaux - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="page-header">Liste des types de bateaux</h2>
  <p>
    <a href="{{ path('aviron_sortie_typebateau_ajouter') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-plus"></i>
      Ajouter un type de bateau
    </a>
  </p>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Supprimé ?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for type in listTypesBateau %}
        <tr>
          <td>{{ type.nom }}</td>
          <td>{{ type.supp }}</td>
          <td>
            <a href="{{ path('aviron_sortie_typebateau_modifier', {'id': type.id}) }}" 
              class="btn btn-primary" title="Modifier le type">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a href="{{ path('aviron_sortie_typebateau_supprimer', {'id': type.id}) }}" 
              class="btn btn-danger" title="Supprimer le type">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
        {% else %}
        <tr>
        <td colspan="3">Pas (encore !) de type de bateau</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}