{% extends "layout.html.twig" %}

{% block body %}


{% if flow.getCurrentStepNumber() == 1 %}
	<p>
		Bonjour !<br/><br/>
		Bienvenue sur la plateforme d'inscription en ligne de l'Aviron Club de Bourges.<br/>
		Si ce n'est pas déjà fait, et avant de faire votre demande,
		<b>vous devez d'abord nous rencontrer au Club.</b>
	</p>
	<p>Pour commencer, nous allons créer un compte.</p>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}

{% if flow.getCurrentStepNumber() == 3 %}
	{{ form_row(form.email) }}

	<ul class="contacts" data-prototype="{{ form_widget(form.contacts.vars.prototype)|e('html_attr') }}">
		{% for contact in form.contacts %}
			<li>{{ form_row(contact.typeContact) }}
				{{ form_row(contact.telephone) }}</li>
		{% endfor %}
	</ul>
{% endif %}

{{ form_rest(form) }}

{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
		craue_formflow_button_class_last: 'btn btn-primary',
		craue_formflow_button_class_back: 'btn',
		craue_formflow_button_render_reset: false,
		craue_formflow_button_label_next: 'Etape suivante',
		craue_formflow_button_label_back: 'Revenir à l\'étape précédente',
		craue_formflow_button_label_finish: 'Je me préinscris !',
	} %}
	{{ form_end(form) }}

	<script type="text/javascript">
var $collectionHolder;

// setup an "add a tag" link
var $addTagButton = $('<button type="button" class="add_tag_link btn">Ajouter un contact</button>');
var $newLinkLi = $('<li></li>').append($addTagButton);

jQuery(document).ready(function() {
    // Get the ul that holds the collection of tags
    $collectionHolder = $('ul.contacts');

	// add a delete link to all of the existing tag form li elements
	$nombreContacts = 0;
    $collectionHolder.find('li').each(function() {
		if ($nombreContacts > 1) {
        	addTagFormDeleteLink($(this));
		}
		$nombreContacts++;
    });

    // add the "add a tag" anchor and li to the tags ul
    $collectionHolder.append($newLinkLi);

    // count the current form inputs we have (e.g. 2), use that as the new
    // index when inserting a new item (e.g. 2)
    $collectionHolder.data('index', $collectionHolder.find('input').length);

    $addTagButton.on('click', function(e) {
        // add a new tag form (see next code block)
        addTagForm($collectionHolder, $newLinkLi);
    });
});

		function addTagForm($collectionHolder, $newLinkLi) { // Get the data-prototype explained earlier
var prototype = $collectionHolder.data('prototype');

// get the new index
var index = $collectionHolder.data('index');

var newForm = prototype;
// You need this only if you didn't set 'label' => false in your tags field in TaskType
// Replace '__name__label__' in the prototype's HTML to
// instead be a number based on how many items we have
// newForm = newForm.replace(/__name__label__/g, index);

// Replace '__name__' in the prototype's HTML to
// instead be a number based on how many items we have
newForm = newForm.replace(/__name__/g, index);

// increase the index with one for the next item
$collectionHolder.data('index', index + 1);

// Display the form in the page in an li, before the "Add a tag" link li
var $newFormLi = $('<li></li>').append(newForm);
$newLinkLi.before($newFormLi);

// add a delete link to the new form
    addTagFormDeleteLink($newFormLi);

}

function addTagFormDeleteLink($tagFormLi) {
    var $removeFormButton = $('<button type="button" class="btn">Supprimer ce contact</button>');
    $tagFormLi.append($removeFormButton);

    $removeFormButton.on('click', function(e) {
        // remove the li for the tag form
        $tagFormLi.remove();
    });
}
	</script>

{% endblock %}
