{% extends "layout.html.twig" %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{% block form_label_class -%}
col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-9
{%- endblock form_group_class %}

{% block body %}

<div class="row">
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 1 %} class="text-muted"{% endif %}>Compte <span class="label {% if flow.getCurrentStepNumber() == 1 %}label-primary{% else %}label-default{% endif %}">1</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 2 %} class="text-muted"{% endif %}>Votre identité <span class="label {% if flow.getCurrentStepNumber() == 2 %}label-primary{% else %}label-default{% endif %}">2</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 3 %} class="text-muted"{% endif %}>Vos contacts <span class="label {% if flow.getCurrentStepNumber() == 3 %}label-primary{% else %}label-default{% endif %}">3</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 4 %} class="text-muted"{% endif %}>Attestations <span class="label {% if flow.getCurrentStepNumber() == 4 %}label-primary{% else %}label-default{% endif %}">4</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 5 %} class="text-muted"{% endif %}>Sondage <span class="label {% if flow.getCurrentStepNumber() == 5 %}label-primary{% else %}label-default{% endif %}">5</span></h4>
	</div>
	<div class="col-sm-2">
		<h4 class="text-muted">Fin <span class="label label-default">6</span></h4>
	</div>
</div><br />

{% if flow.getCurrentStepNumber() == 1 %}
	<div class="well">
		<p>
			Bonjour !<br/><br/>
			Bienvenue sur la plateforme d'inscription en ligne de l'Aviron Club de Bourges.<br/>
			Si ce n'est pas déjà fait, et avant de faire votre demande,
			<b>vous devez d'abord nous rencontrer au Club.</b>
		</p>
		<p>
			Les tarifs des cotisations pour la saison 2020/2021 pour une première inscription sont les suivants :<br/>
			- Scolaires, étudiants, demandeurs d’emploi (sur justificatif) : 185€<br/>
			- Adultes : 288€<br/>
			- Couples : 436€<br/>
			- Par enfant supplémentaire (scolaire, étudiant) : 115€<br/>
			La cotisation est à payer en espèces ou par chèque à l'ordre de l'Aviron Club de Bourges. 
		</p>
		<p>
			Pour commencer, nous allons créer un compte : il vous permettra par la suite de suivre votre demande d'inscription et, une fois celle-ci validée, d'accéder à d'autres ressources comme le système de réservation des séances AviFit.
		</p>
	</div>
{% endif %}

{{ form_start(form) }}
{{ form_errors(form) }}

{% if flow.getCurrentStepNumber() == 2 %}
{{ include("membre_licences/formidentite.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 3 %}
{{ include("membre_licences/formcontacts.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 4 %}
{{ include("membre_licences/formattestations.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 5 %}
{{ include("membre_licences/formsondage.html.twig") }}
{% endif %}

{{ form_rest(form) }}

<p>
* Champ obligatoire
</p>

{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
		craue_formflow_button_class_last: 'btn btn-primary',
		craue_formflow_button_class_back: 'btn',
		craue_formflow_button_render_reset: false,
		craue_formflow_button_label_next: 'Etape suivante',
		craue_formflow_button_label_back: 'Revenir à l\'étape précédente',
		craue_formflow_button_label_finish: 'Je me préinscris !',
	} %}

{{ form_end(form) }}

{{ include("membre_licences/formscript.html.twig") }}

{% endblock %}
