{% extends "layout.html.twig" %}

{% form_theme form with ['bootstrap_3_horizontal_layout.html.twig', _self] %}

{% block form_label_class -%}
col-sm-3
{%- endblock form_label_class %}

{% block form_group_class -%}
col-sm-9
{%- endblock form_group_class %}

{% block body %}

<div class="row">
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 1 %} class="text-muted"{% endif %}>Votre identité <span class="label {% if flow.getCurrentStepNumber() == 1 %}label-primary{% else %}label-default{% endif %}">1</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 2 %} class="text-muted"{% endif %}>Vos contacts <span class="label {% if flow.getCurrentStepNumber() == 2 %}label-primary{% else %}label-default{% endif %}">2</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 3 %} class="text-muted"{% endif %}>Attestations <span class="label {% if flow.getCurrentStepNumber() == 3 %}label-primary{% else %}label-default{% endif %}">3</span></h4>
	</div>
	<div class="col-sm-2">
		<h4{% if flow.getCurrentStepNumber() != 4 %} class="text-muted"{% endif %}>Sondage <span class="label {% if flow.getCurrentStepNumber() == 4 %}label-primary{% else %}label-default{% endif %}">4</span></h4>
	</div>
	<div class="col-sm-2">
		<h4 class="text-muted">Fin <span class="label label-default">5</span></h4>
	</div>
</div><br />

{{ form_start(form) }}
{{ form_errors(form) }}

{% if flow.getCurrentStepNumber() == 1 %}
{{ include("membre_licences/formidentite.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 2 %}
{{ include("membre_licences/formcontacts.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 3 %}
{{ include("membre_licences/formattestations.html.twig") }}
{% endif %}

{% if flow.getCurrentStepNumber() == 4 %}
{{ include("membre_licences/formsondage.html.twig") }}
{% endif %}

{{ form_rest(form) }}

<p>
* Champ obligatoire
</p>

{% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
		craue_formflow_button_class_last: 'btn btn-primary',
		craue_formflow_button_class_back: 'btn',
		craue_formflow_button_render_reset: false,
		craue_formflow_button_label_next: 'Etape suivante',
		craue_formflow_button_label_back: 'Revenir à l\'étape précédente',
		craue_formflow_button_label_finish: 'Je me préinscris !',
	} %}

{{ form_end(form) }}

{{ include("membre_licences/formscript.html.twig") }}

{% endblock %}
