{% extends "layout.html.twig" %}

{% block title %}
  Valider l'inscription de {{demande.membre.prenomnom}} - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="page-header">Valider l'inscription de {{demande.membre.prenomnom}}</h2>

  {{ include("membre_licences/form.html.twig") }}
  
  <p>
    <a href="{{ path('aviron_membre_licences_preinscriptions') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste des demandes d'inscription
    </a>
  </p>

{% endblock %}